.title {
  grid-area: title;
  font-size: 16px;
  line-height: 1em;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0;
}

.description {
  grid-area: description;
  font-size: 13px;
  line-height: 1em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'img title'
  'img description';
  grid-gap: 10px 15px;
  justify-content: left;
  width: 100%;
  height: auto;
  padding: 20px;
  background: #2a2b42;
  border: none;
  text-decoration: none;
  border-radius: 5px;

  &:disabled {
    background: #2a2b42;

    > .title{
      color: #a1a1a1;
    }

    > .description {
      color: #a1a1a1;
    }
  }
}
