@import "../styles/variables";

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 360px;
  height: 680px;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow: 0 0 20px 0 #666;
  overflow: hidden;
}

.ms_auto {
  margin-left: auto;
}

.me_auto {
  margin-right: auto;
}

.mt_auto {
  margin-top: auto;
}

.mb_auto {
  margin-bottom: auto;
}

.ms_sm {
  margin-left: 10px;
}

.mt_sm {
  margin-top: 10px;
}

.mb_sm {
  margin-bottom: 10px;
}

.me_sm {
  margin-right: 10px;
}

.centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
